
<button (click)="toggleTable()"> 
  {{ showFavoritesTable ? 'Mostrar Episodios Normales' : 'Mostrar Favoritos' }}
</button>
<div class="tabla" *ngIf="!showFavoritesTable" >
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let episode of episodes">
        <td>{{ episode.id }}</td>
        <td>{{ episode.name }}</td>
        <td>{{ episode.air_date }}</td>
        <td>
          <button (click)="goToCharacters(episode.id)">Ver Personajes</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="tabala-favoritos" *ngIf="showFavoritesTable">
  <h2>Lista de Episodios (Favoritos)</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let episode of episodes">
        <td>{{ episode.id }}</td>
        <td>{{ episode.name }}</td>
        <td>{{ episode.air_date }}</td>
        <td>
          <button (click)="goToFavoriteCharacters(episode.id)">Ver Personajes Favoritos</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
